* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}
.template {
  width: 50%;
  display: flex;
  background-color: #dfe2e1;
  padding: 20px;
}
.left_ {
  width: 40%;
}

.left_,
.right_ {
  background-color: #fff;
}
.left_ .profile_section {
  background-color: #161f48;
  color: #fff;
  padding: 8px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 86%, 49% 100%, 0 85%);
}

.profile_section img {
  width: 150px;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
  border-radius: 10px;
}
.contact_,
.about_description {
  margin: 10px 0;
  padding: 10px;
  word-break: break-all;
}

.contact_ h2 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.about_description h2 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.contact_ ul {
  list-style: none;
}

.contact_ ul li {
  font-size: 0.7rem;
  margin-bottom: 5px;
  opacity: 0.8;
}

.about_description {
  margin-bottom: 60px;
}

.about_description p {
  font-size: 0.7rem;
  opacity: 0.8;
}

.left_ hr {
  opacity: 0.7;
}
.right_ {
  padding: 10px;
  width: 60%;
}

.header_text {
  width: 80%;
  /* word-break: break-all; */
  margin: 10px 0;
}

.header_text h1 {
  color: #161f48;
  font-size: 1.5rem;
  margin-bottom: 6px;
}

.header_text h4 {
  color: #161f48;
  opacity: 0.7;
  letter-spacing: 1px;
}

.work_exp,
.education,
.project_ {
  margin: 13px 0;
}

.work_exp h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.education h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.project_ h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.work_exp p {
  opacity: 0.8;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.project_ p {
  opacity: 0.8;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.education p {
  opacity: 0.8;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.work_exp small {
  letter-spacing: 2px;
  opacity: 0.8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.education small {
  letter-spacing: 2px;
  opacity: 0.8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.com {
  background-color: #161f48;
  padding: 4px;
  color: #fff;
  text-transform: capitalize;
  margin: 8px 0;
}

.organization {
  background-color: #161f48;
  padding: 4px;
  color: #fff;
  text-transform: capitalize;
  margin: 8px 0;
}

.right_ hr {
  opacity: 0.7;

  margin-bottom: 10px;
}

.dec_edu,
.edu_dec {
  font-size: 0.7rem;
}

.project_ a {
  color: blue;
  text-decoration: none;
  font-size: 0.8rem;
}

.project-dec {
  margin-top: 8px;
  font-size: 0.7rem;
}

.skill_section {
  text-align: center;
  margin: 10px 0;
}

.skill_section h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.skill_ {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr));
  grid-gap: 4px;
  padding: 4px;
}

.skill_ p {
  font-size: 0.8rem;
  border: 1px solid #00000093;
  padding: 10px;
  color: #000000ad;
}

.print {
  margin-top: 30px;
  padding: 20px 80px;
  background-color: #024e8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}
.print:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .template {
    width: 85%;
  }
}
